/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@swimlane/ngx-ui/index.css';
@import '../node_modules/@swimlane/ngx-ui/lib/styles/colors/index.scss';
@font-face {
	font-family: 'Space_Age';
	src: url('/assets/fonts/space_age.ttf');
	src: url('/assets/fonts/space_age.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/assets/fonts/orbitron.ttf');
	src: url('/assets/fonts/orbitron.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}

.logofont { font-family: 'Orbitron';}

.logofont-big { font-size: 3rem; font-weight: bold}

.logo-redbg {
  padding-left: 20rem;
  padding-right: 20rem;
}

body {
  background-attachment:fixed;
    display: block;
    margin: 0px;
}
